*,
::after,
::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Sansation';
  src: url('../src/assets/fonts/Sansation-Regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}
body {
  display: flex;
  justify-content: center;  

}

.custom-container{
  width: 80vw;
  max-width: 1680px;
  min-width: 300px;
  font-family: 'Ubuntu', sans-serif;
}

img{
  display: block;
  width: 100%;
  height: auto;     
}

.header-fixed {
  position: fixed;
  background: green;
  top: 0;
  width: 100%;
  z-index: 15;
  background: white;
}

@media screen and (max-width: 1680px) {
  * {
    font-size: 12px;
  }
}

@media screen and (max-width: 1280px) {
  * {
    font-size: 9px;
  }
}

